<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifica Profilo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="page-wrapper">

    <div class="form-card">

        <h1 class="form-title">Modifica Profilo</h1>

        <form th:action="@{/profilo/modifica}" th:object="${utente}" method="post" class="form-content">

            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" th:field="*{nome}" required>
            </div>

            <div class="form-group">
                <label for="cognome">Cognome</label>
                <input type="text" id="cognome" th:field="*{cognome}" required>
            </div>

            <!-- Email (da Credenziali) -->
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" id="email" th:field="${credenziali.email}" required>
			</div>
			
			<!-- Password (da Credenziali) -->
			<div class="form-group">
				<label for="password">Nuova Password</label>
				<input type="password" id="password" th:field="${credenziali.password}">
			</div>

            <div class="btn-container">
                <button type="submit" class="btn">Salva modifiche</button>
            </div>

        </form>

        <a th:href="@{/profilo}" class="back-link">Annulla</a>

    </div>

</div>

</body>
</html>
