<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SiwRecipes</title>

    <!-- Collegamento al CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <h1>SiwRecipes</h1>
	<nav>
	    <!-- Utente NON loggato -->
	    <span th:if="${email == null}">
	        <a href="/login">Login</a>
	        <a href="/register">Registrati</a>
	    </span>

	    <!-- Utente loggato -->
	    <span th:if="${email != null}">

			<a th:href="@{/profilo}" class="nav-link">
			    <span th:text="${email}"></span>
			    (<span th:text="${ruolo}"></span>)
			</a>

			<form th:action="@{/logout}" method="post" style="display:inline;">
			    <button type="submit" class="nav-link">Logout</button>
			</form>
			
			<!-- Link visibile SOLO agli ADMIN -->
			<a th:if="${ruolo == 'ADMIN'}"
			href="/admin/gestioneUtenti"
			style="margin-left: 20px;">
			Gestione Utenti
			</a>

			<!-- Link per aggiungere una nuova ricetta (visibile a USER e ADMIN) -->
			<a href="/formNewRicetta" style="margin-left: 20px;">
			    Aggiungi una nuova ricetta
			</a>
			
	    </span>
	</nav>

</header>

<div class="container">
    <h2>Benvenuto nel ricettario online</h2>
    <p>Qui troverai tante ricette deliziose.</p>

	<form th:action="@{/ricette/categoria}" method="get" class="search-bar">
	    <input type="text" name="nome" placeholder="Cerca per categoria (Primi, Secondi, Dolce...)"
	           th:value="${categoriaSelezionata}">
	    <button type="submit">Cerca</button>
	</form>

	<div class="recipes-preview">

		<div th:if="${messaggioVuoto}" class="alert" style="margin-bottom: 20px;">
		    <p th:text="${messaggioVuoto}"></p>
		</div>
	    

	    <div th:each="ricetta : ${ricette}" class="recipe-card">
	        <a th:href="@{'/ricetta/' + ${ricetta.id}}">

				<!-- IMMAGINE DELLA RICETTA -->
				<div class="ricetta-immagine" th:if="${ricetta.nomeImmagine != null}">
					<img th:src="@{'/images/' + ${ricetta.nomeImmagine}}"
					alt="Foto ricetta">
				</div>
				
	            <h4 th:text="${ricetta.titolo}">Titolo ricetta</h4>
	            <p th:text="${ricetta.descrizione}">Descrizione breve</p>
	        </a>

			<div class="recipe-info">
			    <span class="tempo" th:text="${ricetta.tempo + ' min'}">30 min</span>
			    <span class="categoria" th:text="${ricetta.categoria}">PRIMI</span>
				<!--fallback statico ma Springboot sostituisce correttamente-->
			</div>
			
	    </div>
	</div>

</div>

</body>
</html>
