<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SiwRecipes</title>

    <!-- Collegamento al CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <h1>SiwRecipes</h1>
	<nav>
	    <!-- Utente NON loggato -->
	    <span th:if="${email == null}">
	        <a href="/login">Login</a>
	        <a href="/register">Registrati</a>
	    </span>

	    <!-- Utente loggato -->
	    <span th:if="${email != null}">
	        <span th:text="${email}"></span>
	        (<span th:text="${ruolo}"></span>)

			<form th:action="@{/logout}" method="post" style="display:inline;">
			    <button type="submit" class="nav-link">Logout</button>
			</form>
			
			<!-- Link visibile SOLO agli ADMIN -->
			<a th:if="${ruolo == 'ADMIN'}"
			href="/admin/gestioneUtenti"
			style="margin-left: 20px;">
			Gestione Utenti
			</a>

			<!-- Link per aggiungere una nuova ricetta (visibile a USER e ADMIN) -->
			<a href="/formNewRicetta" style="margin-left: 20px;">
			    Aggiungi una nuova ricetta
			</a>
			
	    </span>
	</nav>

</header>

<div class="container">
    <h2>Benvenuto nel ricettario online</h2>
    <p>Qui troverai tante ricette deliziose.</p>

	<div class="recipes-preview">
	    <h3>Le ultime ricette</h3>

	    <div th:each="ricetta : ${ricette}" class="recipe-card">
	        <a th:href="@{'/ricetta/' + ${ricetta.id}}">

				<!-- IMMAGINE DELLA RICETTA -->
				<div class="ricetta-immagine" th:if="${ricetta.nomeImmagine != null}">
					<img th:src="@{'/images/' + ${ricetta.nomeImmagine}}"
					alt="Foto ricetta"
					style="width: 100%; max-height: 180px; object-fit: cover; border-radius: 8px;">
				</div>
				
	            <h4 th:text="${ricetta.titolo}">Titolo ricetta</h4>
	            <p th:text="${ricetta.descrizione}">Descrizione breve</p>
	        </a>
	    </div>
	</div>

</div>

</body>
</html>
