<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profilo Utente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <h1>Il tuo profilo</h1>

    <div class="card">
        <p><strong>Nome:</strong> <span th:text="${utente.nome}"></span></p>
        <p><strong>Cognome:</strong> <span th:text="${utente.cognome}"></span></p>
        <p><strong>Email:</strong> <span th:text="${email}"></span></p>

        <p>
            <strong>Stato account:</strong>
            <span th:text="${utente.stato}"
                  th:classappend="${utente.stato == 'BANNATO'} ? 'badge-red' : 'badge-green'">
            </span>
        </p>
    </div>

    <div th:if="${param.errore}">
        <p class="error">Non puoi modificare il profilo perché sei bannato.</p>
    </div>

   <!-- "Modifica" visibile solo all'utente stesso(loggato & ATTIVO)-->
	<a class="btn"
	   th:if="${utenteLoggato.id == utente.id}"
	   th:href="@{/profilo/modifica}">
	   Modifica profilo
	</a>

    <br><br>
	<a class="btn-secondary" th:href="@{/}">Torna alla Home</a>
    
</div>

</body>
</html>
