<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profilo Utente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <h1>Il tuo profilo</h1>

    <div class="card">
        <p><strong>Nome:</strong> <span th:text="${utente.nome}"></span></p>
        <p><strong>Cognome:</strong> <span th:text="${utente.cognome}"></span></p>
        <p><strong>Email:</strong> <span th:text="${email}"></span></p>

        <p>
            <strong>Stato account:</strong>
            <span th:text="${utente.stato}"
                  th:classappend="${utente.stato == 'BANNATO'} ? 'badge-red' : 'badge-green'">
            </span>
        </p>
    </div>

    <div th:if="${param.errore}">
        <p class="error">Non puoi modificare il profilo perché sei bannato.</p>
    </div>

   <!-- "Modifica" visibile solo all'utente stesso(loggato & ATTIVO)-->
	<a class="btn"
	   th:if="${utenteLoggato.id == utente.id}"
	   th:href="@{/profilo/modifica}">
	   Modifica profilo
	</a>


	<div style="margin-top: 40px;">
	<a class="profile-link-recipes"
	   th:href="@{'/autore/' + ${utente.id} + '?from=profilo'}">
	    I tuoi piatti
	</a>
	</div>
	
	
	<h2 style="margin-top: 80px;">Le tue ricette preferite</h2>


	<div th:if="${#lists.isEmpty(ricettePreferite)}">
	    <p>Non hai ancora aggiunto nessuna ricetta ai preferiti.</p>
	</div>

	<div th:if="${!#lists.isEmpty(ricettePreferite)}" class="recipes-preview">

	    <div th:each="r : ${ricettePreferite}" class="recipe-card">

	        <a th:href="@{'/ricetta/' + ${r.id} + '?from=profilo'}">

	            <div class="ricetta-immagine" th:if="${r.nomeImmagine != null}">
	                <img th:src="@{'/images/' + ${r.nomeImmagine}}" alt="Foto ricetta">
	            </div>

	            <h4 th:text="${r.titolo}"></h4>
	            <p th:text="${r.descrizione}"></p>

	        </a>

	        <div class="recipe-info">
	            <span class="tempo" th:text="${r.tempo + ' min'}"></span>
	            <span class="categoria" th:text="${r.categoria}"></span>
	        </div>

	    </div>

	</div>

    <br><br>
	<a class="btn-secondary" th:href="@{/}">Torna alla Home</a>
    
</div>

</body>
</html>
