<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${ricetta.titolo}">Dettagli Ricetta</title>
  
  <!-- Collegamento al CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="recipe-detail-container">

    <h1 th:text="${ricetta.titolo}">Titolo</h1>

<!--
	

	<div class="ricetta-immagine" th:if="${ricetta.nomeImmagine != null}">
	    <img th:src="@{'/images/' + ${ricetta.nomeImmagine}}"
	         alt="Foto della ricetta"
	         style="max-width: 400px; border-radius: 10px; margin: 20px 0;">
	</div>

-->	  

    <p th:text="${ricetta.descrizione}">Descrizione breve</p>
	
	<p class="section-title">Ingredienti</p>

	<ul class="ingredienti-list">
	    <li th:each="ing : ${ricetta.ingredienti}">
	        <strong th:text="${ing.nome}"></strong>
	        :
	        <span th:text="${ing.quantita}"></span>
	        <span th:text="${ing.unita}"></span>
	    </li>
	</ul>

	

    <p class="section-title">Procedimento</p>
    <p th:text="${ricetta.procedimento}">Testo procedimento</p>

    <p><strong>Tempo:</strong> <span th:text="${ricetta.tempo}">Tempo</span> minuti</p>

    <p><strong>Difficoltà:</strong> <span th:text="${ricetta.difficolta}">Difficoltà</span></p>

    <p><strong>Categoria:</strong> <span th:text="${ricetta.categoria}">Categoria</span></p>

    <p><strong>Autore:</strong> <span th:text="${ricetta.autore.nome}">Autore</span></p>

    <p><strong>Data:</strong> 
       <span th:text="${#dates.format(ricetta.data, 'dd/MM/yyyy')}">Data</span>
    </p>
	
	<!-- Pulsante ELIMINA visibile solo ad ADMIN o autore -->
	<div th:if="${ruolo == 'ADMIN' or utenteLoggatoId == ricetta.autore.id}">
	    <a th:href="@{'/ricetta/delete/' + ${ricetta.id}}" class="delete-button">
	        Elimina ricetta
	    </a>
	</div>


    <a th:href="@{/}" class="back-home-link">Torna alla Home</a>

  </div>
</body>

</html>
